<!-- this template works fine for sign up too -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/login.css'/>
</head>
<body>
  <div class='background'>
    <div class='window'>
      <h1><%= title %></h1>
      <form>
        <p>Username: <input class='username'></input>
        <p>Password: <input class='password'></input>
          <div class='button'>Moonbase me!</div>
          <div class='signup'>Or <%= option %></div>
      </form>
    </div>
  </div>

</body>
</html>