body {
  background-color: black;
  color: #eee;
  font-family: courier;
}

h1 {
  font-size: 26pt;
  color: #575769;
}
.h4 {
  padding: 2px;
}

.background {
  position: absolute;
  background: url('../img/spacesnow.jpg');
  background-position:bottom;
  height: 71.5%;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.auth {
  display: table;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #575769;
  opacity: 0.9;
  text-align: center;
}

.statistics {
  height: 300px;
  width: 250px;
  border-radius: 10px;
  background-color: #575769;
  opacity: 0.9;
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
  text-align: center;
}

.dump {
  position: absolute;
  bottom: 0px;
  height: 30%;
  width: 80%;
  left: 10%;
  right: 10%;
}

.buy {
  position: absolute;
  bottom: 10px;
  background-color: #575769;
  width: 20%;
  height: 25%;
  border-radius:10px;
  display: inline-block;
}

.build {
  position: absolute;
  bottom: 10px;
  right: 0px;
  background-color: #575769;
  width: 78.7%;
  height: 25%;
  border-radius:10px;
  display: inline-block;
}

.onScreen {
  display: inline-block;
  min-height: 100%;
  width:100px;
}

.example {
  position: relative;
  left: 18px;
  top: 18px;
  display: inline-block;
  height: 80%;
  width: 15%;
  align: middle;
  border: solid #74748A;
  border-radius: 10px;
}

#science {
  background: url('../img/science.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
#refinery {
  background: url('../img/refinery.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
#mine {
  background: url('../img/mine.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
#hydro {
  background: url('../img/hydro.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
