@import 'buildings';

body {
  background-color: black;
  color: #eee;
  font-family: courier;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1 {
  font-size: 26pt;
  color: #575769;
}

b {
  font-size: 11pt;
}

ul {
  position: absolute;
  bottom: 0px;
}

li {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  text-align: left;
}

.h4 {
  padding: 2px;
}

.bar-chart div {
  background-color: green;
}

.background {
  position: absolute;
  background: url('../img/spacesnow.jpg');
  background-position:bottom;
  height: 71.5%;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.auth {
  display: table;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #575769;
  opacity: 0.9;
  text-align: center;
}

.statistics {
  height: 300px;
  width: 250px;
  border-radius: 10px;
  background-color: #575769;
  opacity: 0.9;
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.refineExp {
  display: none;
  position: absolute;
  top: 50px;
  right: 300px;
  height: 150px;
  width: 200px;
  border-radius: 10px;
  background-color: white;
  opacity: 0.9;
  z-index: 1;
}

.refineText {
  font-size: 10pt;
  color: black;
  margin: 10px;
}

.buildExp {
  display: none;
  position: absolute;
  top: 100px;
  left: 400px;
  height: 150px;
  width: 500px;
  border-radius: 10px;
  background-color: white;
  opacity: 0.8;
  z-index: 12;
}

.chart div {
  background-color: green;
}

.shield {
  position: absolute;
  bottom: 0px;
  background: url('/img/Shield.png');
  width: 100%;
  height: 80%;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
}

.dump {
  position: absolute;
  bottom: 0px;
  height: 30%;
  width: 80%;
  left: 10%;
  right: 10%;
}

.buy {
  position: absolute;
  bottom: 10px;
  background-color: #575769;
  width: 30%;
  height: 25%;
  border-radius:10px;
  display: inline-block;
}

.build {
  position: absolute;
  bottom: 10px;
  right: 0px;
  background-color: #575769;
  width: 68.7%;
  height: 25%;
  border-radius:10px;
  display: inline-block;
}

.container {
  margin-top: 18px;
  width: 200px;
  display: inline-block;
  font-size: 9pt;
  vertical-align: middle;
}

.refine {
  margin: 10px;
  width: 100px;
}

.onScreen {
  display: inline-block;
}

.ghost {
  position: absolute;
  opacity: 0.3;
  height: 150px;
  width: 150px;
}

.example {
  position: absolute;
  margin: 10px 0px 0px 20px;
  top: 0px;
  height: 50%;
  width: 15%;
  border-radius: 10px;
  border: solid #74748A;
}

.Q {
  position: absolute;
  height: 40px;
  width: 40px;
  background: url('/img/question.png');
  background-size: contain;
  z-index: 10;
}

.refining {
  top: 30px;
  right: 30px;
}

.constructing {
  bottom: 30px;
  right: 20px;
}

.infocontainer {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  font-size: 12pt;
  font-color: black;
  z-index: 10;
  opacity: 0.8;
  text-align: center;
  display: none;
}

.buildinginfotext {
  padding: 30px;
  color: black;
  display: none;
}

.info {
  position: absolute;
  bottom: 70px;
  right: 10px;
  color: white;
  font-size: 10pt;
  font-color: black;
  z-index: 10;
}